<h4>Employee List</h4>
<button class="btn btn-primary mb-2" *ngIf="!isShow" (click)="isShow = true">New Employee</button>

<div *ngIf="isShow">
  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name">
  <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email">
  <button class="btn btn-primary" (click)="save()">Save</button>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
