<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
          routerLink="/home"
          routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/contact"
          routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/post"
          routerLinkActive="active">Posting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/employee"
          routerLinkActive="active">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
