<h4>List of Posts</h4>
<!-- <ul>
  <li *ngFor="let post of posts"> {{ post.title }}</li>
</ul> -->
<input type="text" class="form-control mb-2" placeholder="search by title..." (keyup)="doSearch($event)" [(ngModel)] = "title">
{{ title }}
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <td>No</td>
      <td>ID</td>
      <td>Title</td>
      <td>Body</td>
      <td>User ID</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts; index as no">
      <td>{{ no + 1 }}</td>
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td>{{ post.userId }}</td>
      <td>
        <button class="btn btn-outline-primary"
        (click) = "doDetail(post.id)"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal">Detail</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>ID</td>
            <td>{{ detail.id }}</td>
          </tr>
          <tr>
            <td>Title</td>
            <td>{{ detail.title }}</td>
          </tr>
          <tr>
            <td>Body</td>
            <td>{{ detail.body }}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
